body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

.container {
    background-image: url(woven.png);
    width: 1536px;
    min-height: 138px;
    background-repeat: no-repeat;
}

.navbar {
    width: 1536px;
    margin: 0;
    padding: 0;
    padding-top: 83px;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 3px solid rgb(246, 245, 245);
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
}

.navbar>div,
img,
a {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}

.dropdown {
    margin-left: 150px;
}

.dropdown select {
    appearance: none;
    border: 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
}

.dropdown select option:first-child {
    visibility: hidden;
}

.logo {
    width: 150px;
    height: 30px;
    padding: 0;
    padding-left: 415px;
    text-align: center;
}

.navbar .searchform {
    width: 320px;
    border: 0;
    margin-left: 158px;
}

.searchform form input {
    border: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 280px;
}

.searchform form label button {
    border: 0;
    background-color: transparent;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.w-215 {
    width: 220px;
}

.w-500 {
    width: 500px;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left;
}